* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

$cor1 : rgb(243, 177, 54);
$cor2: rgb(41, 41, 41);
$cor3: rgb(204, 204, 204);


content {
    height: 100%;
    width: 100%;
    padding-bottom: 300px;
    
    .bio {
        height: 350px;
        width: 250px;
        background-color: $cor3;
        position: absolute;
        top: 63%;
        left: 13.8%;
        color: rgb(27, 27, 27);
        box-shadow: 3px 3px 3px rgb(105, 105, 105);

        .linha {
            position: absolute;
            margin-top: 35px;
            margin-left: 10px;
            height: 2px;
            width: 230px;
            background-image: linear-gradient(to right, transparent, rgb(51, 51, 51), transparent);
        }

        span {
            color: rgb(15, 15, 15);
            position: absolute;
            left: 17%;
            top: 3%;
            font-size: 20px;
        }

        p {
            text-align: justify;
            padding-right: 22px;
            padding-left: 5px;
            position: absolute;
            font-size: 14px;
            top: 13%;
            left: 7%;
        }

    }

    .avatar {
        position: absolute;
        left: 13.5%;
        top: 15%;
        border: 1.4px solid grey;
    }

    .xpBar {
        .bar {
            text-align: right;
            z-index: 10;
            position: absolute;
            height: 24px;
            width: 200px;
            top: 57.6%;
            right: 70.6%;
            border: 1.4px solid $cor3;
            background-image: linear-gradient(to right, rgb(29, 29, 29) 66.6%, white 33.3%);
            box-shadow: 1.9px 1.9px 1.9px rgb(105, 105, 105);

            span {
                font-size: 20px;
                position: absolute;
                margin-top: -3px;
                margin-left: 8px;
                color: rgb(39, 39, 39);
                border: 0.5px solid $cor3;
                background-color: rgb(255, 255, 255);
                padding: 4px;
                box-shadow: 1.9px 1.9px 1.9px rgb(105, 105, 105);
            }
        }
    }


    .catego {
        text-decoration: none;
        position: absolute;
        right: 17.4%;
        top: 15%;
        
        

        li {
            padding: 20px;
            margin: 30px;
            margin-right: 40px;
            display: inline-block;
            color: white;
            background-color: $cor2;
            font-size: 20px;
            cursor: pointer;
            box-shadow: 3px 3px 3px rgb(161, 161, 161);
        

            &:hover {
                transition: 0.3s;
                background-color: rgb(236, 165, 42);
                color: black;
            }

            img {
                height: 27px;
                width: 27px;
            }
        } 
    }
    @keyframes sobe {
        0% {top: 41%;}
        50% {top: 37%;}
        100% {top: 39%;}
    }

    .tipo1::-webkit-scrollbar {
        width: 16px;
    }

    ::-webkit-scrollbar-thumb {
        background:rgb(97, 97, 97); 
      }


    .tipo1 {
        animation: sobe 0.3s;
        height: 520px;
        width: 650px;
        background-color: $cor3;
        position: absolute;
        right: 14%;
        top: 39%;
        display: flex;
        justify-content: center;
        box-shadow: 3px 3px 3px rgb(136, 136, 136);
        overflow-y: auto;
        text-align: justify;
        
        .posts {
            display: flex;
            flex-flow: row wrap;
            color: black;

            h1 {
                margin-top: 30px;
                margin-bottom: 0px;
            }

            span {
                color: rgb(43, 43, 43);
                position: absolute;
                font-size: 15px;
                font-weight: bold;

                .feito {
                    color: rgb(0, 122, 0);
                    margin-left: 3px;
                }

                .naoFeito {
                    color: red;
                    margin-left: 3px;
                }
            }

            img {
                height: 75px;
                width: 75px;
                margin: 15px;
            }
    
            p {
                text-align: justify;
                color: rgb(27, 27, 27);
                padding-right: 20px;
                padding-left: 20px;
                padding-top: -200px;
                padding-bottom: 30px;
            }

            .linha {
                margin-right: 25px;
                height: 2px;
                width: 600px;
                background-image: linear-gradient(to right, transparent, rgb(51, 51, 51), transparent);
            }
        }

    }

    .tipo2 {
        animation: sobe 0.3s;
        height: 520px;
        width: 650px;
        background-color: $cor2;
        position: absolute;
        right: 14%;
        top: 39%;
        display: none;
        box-shadow: 3px 3px 3px rgb(161, 161, 161);
        flex-flow: row wrap;
        color: black;
        font-size: 20px;

        p {
            background-color: rgb(255, 255, 255);
            padding: 4px;
            border-radius: 1.4px;
            margin-top: 15px;
            margin-right: 65px;
        }

        div {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            margin-left: 57px;
        }

        img {
            height: 90px;
            width: 90px;
            margin-right: 65px;
            margin-top: 20px;
            border-radius: 50%;
        }

        img:hover {
            transform: scale(1.2);
            box-shadow: 3px 3px 3px rgb(27, 27, 27);
        }

    }

    .tipo3 {
        animation: sobe 0.3s;
        height: 650px;
        width: 650px;
        background-color: $cor2;
        position: absolute;
        right: 14%;
        top: 39%;
        box-shadow: 3px 3px 3px rgb(161, 161, 161);
        display: none;
        flex-flow: row wrap;
        color: black;
        font-size: 20px;

        p {
            background-color: rgb(255, 255, 255);
            padding: 4px;
            border-radius: 1.4px;
            margin-top: 15px;
            margin-right: 15px;
        }

        div {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            margin-top: 20px;
            margin-left: 70px;
        }

        img {
            border: 1.4px solid white;
            height: 110px;
            width: 110px;
            margin-right: 15px;
            margin-top: 10px;
        }
    }
}