
.col100 {
    width: 100%;
    float: left;
    position: relative;
}

main, .content {
    margin: 0 auto;
    width: 980px;
    position: relative;
    }

.col4 {
    float: left;
    width: 25%;
    text-align: center;
}
.col4 img {
cursor: pointer;
 margin: 0 auto;
 padding-top: 1em;
 vertical-align: middle;
}
.col4 img:hover {
    margin-top: 10px!important;
    position: relative!important;
}

.footer h3 {
    text-align: left;
}

.footer {
    margin-top: 1000px;
    position: relative;
    padding-top: 5px;
    background-image: url('../ContentAcao/imgAcao/footer.png');
    color: #ffffff;
    margin-bottom: -10px;

}

.footer2 {

    background-image: url('../ContentAcao/imgAcao/footer2.png');
    color: #c1c1c1;
    height: 90px;
}


.footer p {
    margin-bottom: 10px;
    margin-top: 15px;
    width: 90%;
    text-align: left;
}

.footer2 p {
    padding: 10px;
}

.clock {
    color: #898989!important;
}

.clock:before {
    content: '';
    width:  15px;
    height: 15px;
    display: inline-block;
    background-image: url('../ContentAcao/imgAcao/clock.png');
    float: left;
    background-repeat: no-repeat;
    padding-left: 5px;
}

.local:before, .emailico:before, .telefoneico:before {
    content: '';
    width:  17px;
    height: 24px;
    display: inline-block;
    float: left;
    background-repeat: no-repeat;
    padding-left: 5px;
}
.local:before {
    background-image: url('../ContentAcao/imgAcao/local.png');
}  
.emailico:before {
    background-image: url('../ContentAcao/imgAcao/email.png');
}  
.telefoneico:before {
    background-image: url('../ContentAcao/imgAcao/telefoneico.png');
}  


